
__pycache__/IsPrime3.cpython-37.pyc
__pycache__/APEFunctions.cpython-37.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/APE-Library.iml
__pycache__/APEFunctions.cpython-37.pyc
